/*X/frontend/src/App.css */
/* Adicionado apenas para garantir que a tela de login use a altura total da tela */
#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Se você for usar Tailwind, remova este arquivo e siga a configuração oficial do Tailwind com Vite */